@import 'tailwindcss';

:root {
  --primary-dark: #09637e;
  --primary: #088395;
  --accent: #7ab2b2;
  --background: #ebf4f6;
  --foreground: #171717;
}

@theme inline {
  --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
